.word input {
  width: 13rem;
  padding: 0.5rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  color: var(--input-text-color);
  text-align: center;
  font-size: 1.25rem;
}

.word:last-child input {
  margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
  .word input {
    padding: 0.275rem 0;
    font-size: 1rem;
  }
}

.generate-button-container {
  grid-column-start: 1;
  grid-row-start: 2;
}

@media print 
{
  .word-input.empty {
    display:none;
  }
}