.wordbank {
  padding: 0 2rem 0 0;
}

.word input {
  width: 13rem;
  padding: 0.5rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  color: var(--input-text-color);
  text-align: center;
  font-size: 1.25rem;
}

@media only screen and (max-width: 700px) {
  .wordbank {
    padding: 0;
  }

  .word input {
    padding: 0.5rem 0;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  .word input {
    padding: 0.275rem 0;
    font-size: 1rem;
  }
}

#word9 {
  margin-bottom: 0;
}

@media print 
{
   @page
   {
    size: auto;
    size: landscape;
  }

  .generate-button, .word-input.empty {
    display:none;
  }
}