:root {
  --input-text-color: #010c3f;
  --button-bg: #ff0081;
  --button-bg-active: #D9006D;
  --button-text-color: #ffffff;
  --sidebar-bg-color: #dfdfdf;
  --sidebar-text-color: #858895;
}

.button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1.25em;
  padding: 0.5em 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, border-color ease-in 0.3s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  margin: 1rem 0;
}

.button:disabled {
  opacity: 0.5;
}
  
.button:hover {
  border-color: rgba(255, 255, 255, 1);
}

.button:enabled:active{
  transform: scale(0.9);
  background-color: var(--button-bg-active);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.7);
}

body > #root > div {
  min-height: 100vh;
}

.App {
  text-align: center;
  background-image: linear-gradient(to top , #b37ebe, #574f77);
}

main {
  display: grid;
  grid-column-gap: 2rem;
  justify-content: center;
  align-items: start;
  margin-top: 1rem;
}

@media only screen and (max-width: 700px) {
  main {
    display: block;
  }
}

@media print 
{
   @page
   {
    size: auto;
    size: landscape;
  }

  .button {
    display:none;
  }
}
