.title {
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}

.instructions {
  color: #FFFFFF;
}

@media print 
{
   @page
   {
    size: auto;
    size: landscape;
  }

  .instructions {
    display: none;
  }

  header {
    margin-bottom: 2rem;
  }

}